<head>
    <title>
      Loading...
    </title>
    <style>
    body, html {
        height: 100%;
        margin: 0;
    }

        #bgload {
    background-image: url("img/turnon.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    </style>  
  </head>
  <body onload="setTimeout(redirect, 1000)">
      <div id="bgload"></div>
      <script>
        function redirect() {
      window.location.href = "app/index.html"; 
        }
      </script>
  </body>