@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: black;
}

body {
  margin: 0;
  color: pink;
  font-family: Noto Sans, "Noto Sans", Arial, sans-serif !important;
}

.main {
  padding: 3px;
  margin-bottom: 34px;
}

.navbar {
  overflow-y: scroll;
  background-color: purple;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0px;
  display: block;
  height: 34px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.navbar span {
  background-color: purple;
  color: pink;
  text-decoration: none;
  padding: 0 4px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 24px;
}

.navbar a {
  background-color: purple;
  color: pink;
  text-decoration: none;
  padding: 1px 4px;
  margin-right: 6px;
  font-size: 24px;
  height: 34px;
  white-space: nowrap;
  display: inline;
}

.navbar a:hover {
  background-color: pink;
  color: purple;
}

.consolea {
  color: pink;
  text-decoration: underline;
}
.consolea:hover {
  color: purple;
  text-decoration: underline;
}

.app {
  width: 100%;
  height: calc(100vh - 36px);
  border: none;
}

.iconbtn {
  width: 4px;
  text-indent: -4px;
}

.material-symbols-outlined {
  color: pink !important;
}

.confont {
  font-family: Courier, Monospace, monospace;
}
