<head>
    <title>
      Clockwork Custom
    </title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <div class="bg">
      </div>
      <p class="glow" id="code" font-size="50px">testing</p>
  </body>